{% extends "layout.html" %}
{% block content %}

<section class="page-container">
    <section class="detection-container">
        <span><b>Last Speed Detections</b></span>
        <ul id="ul-last-speed">
            <li class="good-speed">8km/h 10h00</li>
            <li class="bad-speed">69km/h 69h69</li>
            </ul>
    </section>
    <section class="income-container">
        <span><b>Fine Income</b></span>
        <span id="income-text">+50$</span>
        </section>
        <section class="hour">
        <span id="hour-span">10:00:00</span>
    </section>
    <section class="speedometer-section">
        <b>Last speed</b>
        <span id="last-speed-span">69 km/h</span>
    </section>
</section>
<section class="chart">
    <canvas id="chart-speed"></canvas>
</section>
{% endblock %}