* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222222;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

    height: 5vh;
    border-bottom-width: 5px;
    border-bottom-color: aqua;
}

nav a:first-child {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 15px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 1;
}

ul {
    list-style-position: inside;
}

.page-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    gap: 40px;
    
}

@media only screen and (max-width : 600px) {
    .page-container {
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        padding: 10px;
    }
    .detection-container {
        width: 90%;
    }
    .income-container {
        width: 90%;
        height: auto;
    }
    .hour {
        width: 90%;
    }
    .width {
        width: 90%;
    }
}

@media only screen and (min-width : 600px) {
    .page-container {
        height: 20%;
    }
    .detection-container {
        width: 30%;
    }
    .income-container {
        width: 10%;
    }
    .hour {
        width: 20%;
    }
    .speedometer-section {
        width: 20%;
    }
}

.detection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    overflow: auto;
}

.detection-container span b {
    text-align: center;
    padding: 15px;
}

.detection-container ul {
    overflow: auto;
}

.detection-container ul li {
    padding: 10px;
}

.bad-speed {
    color: red;
}

.income-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    /* overflow: auto; */
}


#income-text {
    color: green;
    align-self: center;
    justify-self: center;
    font-size: 4em;
}

.hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

.hour span {
    font-size: 4em;
}

.speedometer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

.speedometer-section span {
    font-size: 3.5em;
}

.chart {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px;
    height: 65%;
}